#timeline {
  min-height: 90vh;
  background: #ffacb7;
  @include flex(row, center, center);

  .timeline-wrapper {
    @include flex(row, center, center);
    height: 45vh;

    .timeline-left {
      @include flex(column, center, space-evenly);
      text-align: center;
      height: 100%;
    }
    .line {
      border-left: 0.6rem solid #ffe0ac;
      height: 100%;
    }
    .timeline-right {
      @include flex(column, center, space-evenly);
      text-align: center;
      height: 100%;
    }
  }
}
