.navbar {
  min-height: 10vh;
  display: flex;
  align-items: center;
  background: $navbar-color;

  nav {
    width: 90%;
    margin: auto;
    @include flex(row, center, space-between);
    flex-wrap: wrap;

    .logo {
      flex: 1 1 20rem;
      padding: 1rem;
      img {
        height: 8rem;
        width: 8rem;
      }
    }

    ul {
      flex: 1 1 40rem;
      padding: 2rem;
      @include flex(row, center, space-evenly);
      font-size: $text;
      a {
        padding: 1rem;
        transition: 0.5s;
      }
      .active {
        border-radius: 2rem;
        background: $text-color;
        color: $navbar-color;
        &:hover {
          border-radius: 0rem;
          background: $navbar-color;
          color: $text-color;
        }
      }
      .not-active {
        &:hover {
          border-radius: 2rem;
          background: $text-color;
          color: $navbar-color;
        }
      }
    }
  }
}
