$header1: 4rem;
$header2: 3rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$navbar-color: #6886c5;
$text-color: #f9f9f9;

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@import "global";
@import "navbar";
@import "home";

@media screen and (max-width: 787px) {
  /* GLOBALS */

  h1 {
    font-size: $header2;
  }
  h2 {
    font-size: $header3;
  }
  h3 {
    font-size: $header4;
  }
  p {
    font-size: $header4;
  }

  /* NAVBAR*/

  .navbar {
    nav {
      .logo {
        display: flex;
        justify-content: center;
        img {
          width: 5rem;
          height: 5rem;
        }
      }
      ul {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  /* HOME SECTION */
  #home {
    min-height: 90vh;
    overflow: hidden;
    position: relative;
    color: $text-color;

    .introduction-wrapper {
      .introduction {
        .name-title-container {
        }
      }
    }
    .info-wrapper {
      .info {
        .info-text-container {
        }
      }
    }
  }
}
